---
layout: default
---

<main class="tags-collections">
    <h1>Tag: #{{ page.tag }}</h1>

    <div class="tags-collections-group">
        <ul class="tags-collections-list">

        {% for collection in site.collections %}
        <li class="tags-collection-item">

            {% assign ds = collection.docs | where_exp: "item", "item.tags contains page.tag" %}

            <div class="tags-collection-item-header">
                <span class="title">{{ collection.label | upcase }}</span>
                <span><small>{{ds.size }} found</small></span>
            </div>

            <div class="tags-collection-item-body">
            {% if ds.size > 0 %}
            <ul class="tags-document-list">
                {% for doc in ds %}
                    <a href="{{ doc.url }}">
                        <li class="tags-document-item">
                            {{ doc.title }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
            {% endif %}
            </div>

        </li>
        {% endfor %}

        </ul>
    </div>
</main>