{{ define "main" }}

    <style>
        .proj-item {
            border-bottom: 1px grey dashed;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 12px 0;
            text-decoration: none;
        }

        .proj-title  {
            font-size: 1rem;
            margin: 5px 0 5px 0;
        }
        .proj-title > a {
            text-decoration: none;
        }

        .proj-tags {
            max-width: 60%;

            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        .proj-tag {
            margin-right: 0.5em;
        }
        .proj-tag::before {
            content: '#';
        }
        
        /* media-size-phone */
        @media (max-width: 684px) {
            
        }

        /* media-size-tablet */
        @media (max-width: 900px) {
            
        }
    </style>

    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{if eq .Data.Section "projects" }}
            <h6>DataSection projects</h6>
        {{end}}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">

                <ul class="posts-list">
                    {{ range .Pages.ByWeight }}
                        <li class="proj-item">
                            <span class="proj-title">
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </span>

                            <span class="post-day proj-tags">
                                <!-- <span>Hello</span> -->
                                {{- with .Params.tags }}
                                    {{- range . -}}
                                        <span class="proj-tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span>
                                    {{- end -}}
                                {{- end }}
                            </span>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
